<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>
    <div class="heading">
      <div class="row">
        <div class="heading-pic">
          <img src="img/pic1.png">
        </div>
        <div class="heading-primary">
          <span class="heading-primary--main">arma tu</span>
          <span class="heading-primary--sec">propio estilo</span>
          <span class="heading-primary--btn"><a href="#">compra ahora</a></span>
        </div>
      </div>
    </div>
    <div class="slogan">
      <span class="slogan--text">"<b>moda</b> y <b>calidad</b> al mejor precio"</span>
      <div class="row">
        <div class="slogan--img">
          <img src="img/slogan1.jpg">
          <img src="img/slogan2.jpg">
          <img src="img/slogan3.jpg">
        </div>
      </div>
    </div>
    <div class="favs">
      <span class="favs--text">lo m&aacute;s destacado</span>
      <hr class="favs--line">
      <div class="container-fluid">
          <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
              <div class="carousel-inner row w-100 mx-auto" role="listbox">
                  <div class="carousel-item col-md-4 active">
                      <img class="img-fluid mx-auto d-block" src="img/destacado-01.jpg" alt="slide 1">
                  </div>
                  <div class="carousel-item col-md-4">
                      <img class="img-fluid mx-auto d-block" src="img/destacado-02.jpg" alt="slide 2">
                  </div>
                  <div class="carousel-item col-md-4">
                      <img class="img-fluid mx-auto d-block" src="img/destacado-03.jpg" alt="slide 3">
                  </div>
                  <div class="carousel-item col-md-4">
                      <img class="img-fluid mx-auto d-block" src="img/destacado-01.jpg" alt="slide 4">
                  </div>
                  <div class="carousel-item col-md-4">
                      <img class="img-fluid mx-auto d-block" src="img/destacado-02.jpg" alt="slide 5">
                  </div>
                  <div class="carousel-item col-md-4">
                      <img class="img-fluid mx-auto d-block" src="img/destacado-03.jpg" alt="slide 6">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                  <i class="fa fa-chevron-left fa-lg text-muted"></i>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                  <i class="fa fa-chevron-right fa-lg text-muted"></i>
                  <span class="sr-only">Next</span>
              </a>
          </div>
      </div>
      <div class="favs--btn">
        <span><a href="#">ver m&aacute;s</a></span>
      </div>
    </div>
    <div class="client">
      <div class="client-primary">
        <span class="client-primary--text">clientes satisfechos</span>
        <div class="client-primary--testimonies">
          <div class="client-primary--testimony">
            <i class="fas fa-quote-right fa-2x" id="quotations"></i>
            <div class="client-pic">
              <img src="img/cliente1.jpg">
            </div>
            <span class="client-text">Siempre tienen la mejor calidad y variedad
              de productos en el mercado. Definitivamente seguir&eacute; comprando.
            </span>
            <span class="client-name">Eduardo Montoya</span>
            <span class="client-rating">
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="far fa-star fa-2x"></i>
            </span>
          </div>
          <div class="client-primary--testimony">
            <i class="fas fa-quote-right fa-2x" id="quotations"></i>
            <div class="client-pic">
              <img src="img/cliente2.jpg">
            </div>
            <span class="client-text">Todos los productos que he comprado han
              sido de buena calidad. Pens&eacute; que el env&iacute;o ser&iacute;a inconveniente pero tiene
              entregas en toda la rep&uacute;blica mexicana.
            </span>
            <span class="client-name">Julia C&aacute;zares</span>
            <span class="client-rating">
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="far fa-star fa-2x"></i>
            </span>
          </div>
          <div class="client-primary--testimony">
          <i class="fas fa-quote-right fa-2x" id="quotations"></i>
          <div class="client-pic">
            <img src="img/cliente3.jpg">
          </div>
          <span class="client-text">Muy buena selecci&oacute; de productos y
            accesorios. Personal atento y amable, todas las dudas enviadas por correo
            fueron respondidas con claridad y r&aacute;pido.
          </span>
          <span class="client-name">Alejandro Arias</span>
            <span class="client-rating">
              <i class="far fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
              <i class="fas fa-star fa-2x"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="banner">
      <div class="banner-border">
        <span class="banner--title">¿TE INTERESA VENDER?</span>
        <span class="banner--text">Conoce c&oacute;mo trabajamos y forma parte de esta experiencia.</span>
        <div class="banner--btn">
          <span><a href="#">m&aacute;s informaci&oacute;n</a></span>
        </div>
      </div>
    </div>
    <%- include('partials/_footer') -%>
    <script>
      $('#carouselExample').on('slide.bs.carousel', function (e) {

        /* CC 2.0 License Iatek LLC 2018  Attribution required */

        var $e = $(e.relatedTarget);

        var idx = $e.index();
        console.log("IDX :  " + idx);

        var itemsPerSlide = 8;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>