html,
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
}

body a:hover{
  color: #fff;
  text-decoration: none;
}

/* NAV BAR */

.dark {
  background-color: #000;
}

.navbar-brand,
.navbar-light,
.navbar-nav,
.nav-link {
  color: #fff;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.navbar {
  padding: 0 1rem !important;
  line-height: 2rem;
  position: fixed !important;
  width: 100%;
  z-index: 100;
  top: 0;
  cursor: pointer;
}

.nav-link {
  padding: 1rem 1rem !important;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.nav-link:hover {
  background-color: #fff;
  color: #000 !important;
}

.navbar-nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-right: 7rem;
}

.navbar-brand {
  font-size: 2rem !important;
  display: inline-block;
  padding: 0 !important;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  transform: translateY(-.1rem);
  margin-left: 7rem;
}

.show:hover {
  display: block;
}

.dropdown-toggle::after {
  content: none !important;
}

.dropdown-menu {
  margin: 0 !important;
  border-radius: none;
}

.dropdown-item {
  padding: .25rem .5rem !important;
}

.dropdown-item:hover {
  background-color: #e2e2e4 !important;
}

.btn {
  border: none !important;
}

.btn-secondary {
  background-color: rgba(0,0,0,0) !important;
  border-color: rgba(0,0,0,0) !important;
}

.dropdown {
  position: static !important;
}

.mega-area {
  width: 100% !important;
  padding: 3rem 4rem !important;
}

.icon i {
  font-size: 1.2rem;
  padding: 1.4rem .6rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  cursor: pointer;
}

.icon .dropdown-menu {
  font-size: .9rem !important;
  padding: .6rem !important;
  box-shadow: .5px 4px 3px 0 rgba(0,0,0,0.3);
  left: inherit;
  right: 1.5rem;
}

.cartpop {
  position: absolute;
  margin: .7rem -1.7rem;
}

.col-lg-2,
.col-md-6,
.col-sm-6 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.col-lg-12 {
  padding-left: 35px !important;
  padding-right: 0 !important;
}

.estilo {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  margin: .5rem 0;
}

.estilo img {
  width: 100%;
  height: auto;
}

.alert {
  padding: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 4rem;
}


/* HEADING */

.heading {
  background-color: #e2e2e4;
  height: 80vh;
  padding: 2rem;
  box-sizing: border-box;
  overflow: hidden;
  display: table;
  width: 100%;
  margin-top: 4rem;
}

.heading-pic {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 40%;
}

.heading-pic img {
  object-fit: fill;
  height: 35rem;
}

.heading-primary {
  text-align: center;
  display: flex;
  flex-flow: column;
  text-transform: uppercase;
  align-self: center;
  padding-bottom: 3rem;
  width: 80%;
  position: absolute;
  margin-left: 18%;
}

.heading-primary span {
  width: 100%;
}

.heading-primary--main {
  font-size: 1.5rem;
  font-style: italic;
  color: #444;
  letter-spacing: .5rem;
}

.heading-primary--sec {
  color: #000;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1rem;
  margin-bottom: 2.5rem;
}

.heading-primary--btn a {
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  background-color: #000;
  font-size: .8rem;
  letter-spacing: .3rem;
  padding: 1rem 1.5rem;
  font-weight: 400;
}

.heading-primary--btn a:hover{
  background-color: #404040;
}


/* SLOGAN  */


.slogan {
  max-height: 125vh;
  width: 100%;
  padding: 3.5rem 2rem;
  text-align: center;
}

.slogan--text {
  font-size: 1.6rem;
  font-style: italic;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.slogan--text b{
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 800;
}

.slogan--img {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.slogan--img img {
  height: auto;
  padding: 2rem 1rem;
  box-sizing: border-box;
  width: calc(100% / 3);
}

/* DESTACADOS */

.favs {
  height: auto;
  background-color:#f4f4f4;
  text-align: center;
  padding: 4rem 3rem 5rem;
}

.favs--text {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .6rem;
}

.favs--line {
  background-color: #000;
  height: .7rem;
  border: none;
  width: 7rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.favs--btn {
  margin-top: 2rem;
}

.favs--btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  background-color: #000;
  font-size: .8rem;
  letter-spacing: .4rem;
  padding: 1rem 1.5rem;
  font-weight: 400;
}

.favs--btn a:hover{
  background-color: #404040;
}

.client {
  height: 80vh;
  padding: 4rem 3rem;
  background-image: url(../img/clientepic-01.png);
  text-align: center;
}

.client-primary--text {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.client-primary--testimonies {
  display: flex;
  justify-content: center;
}

.client-primary--testimony {
  background-color: #fff;
  height: 22rem;
  width: 20rem;
  margin: 4rem 2.5rem;
  padding: 2rem 3rem;
  box-sizing: border-box;
  box-shadow: 9px 5px 5px 4px rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column;
  align-items: center;
}

#quotations {
  background-color: #000;
  padding: .8rem;
  position: absolute;
  transform: translate(-7rem, -3rem);
  color: #fff;
}

.client-pic {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 50%;
}

.client-pic img {
  width: auto;
  height: 100%;
}

.client-text {
  font-size: .8rem;
  display: inline-block;
  color: #000;
  height: 5.5rem;
  margin: 1rem 0;
  line-height: 1rem;
}

.client-name {
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  color: #000;
}

.client-rating .fa-2x {
  color: #000;
  display: inline-block;
  font-size: 1rem;
  padding-top: .6rem;
}

/* PRODUCTOS */

.products {
  min-height: 74.5vh;
  width: 100%;
  margin-top: 4rem;
  padding: 2rem;
  box-sizing: border-box;
}

.products-sidebar {
  background-color: #fff;
  height: auto;
  padding: 2rem 4rem !important;
  box-sizing: border-box;
  width: 25%;
}

.list-group a {
  color: #212529;
}

.list-group a:hover {
  text-decoration: none;
  background-color: #e2e2e4;
  color: #212529;
}

.form-check-inline {
  display: block !important;
}

.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
  /*background-color: paleturquoise; */
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}


     /* PRODUCTOS DERECHA */

.products-list {
  width: 75%;
}

.products-items {
  display: inline-flex;
  margin: 1rem;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0 !important;
  text-decoration: none;
  color: #212529;
}

.card-text {
  text-decoration: none;
  color: #212529;
}

.card-body:hover h5,
.card-body:hover p {
  text-decoration: none;
}


.modal-button { /* al hacer click en tarjeta */
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-decoration: none;
}

.modal-window-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  z-index: 100;
}

.modal-window-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 4rem auto;
  padding: 2rem 3rem;
  background: #fff;
  border-radius: 1.3rem;
  position: relative;
  width: 70rem;
  height: 35rem;
  transition: all 1s ease-in-out;
  z-index: 1rem;
  box-sizing: border-box;
}

.modal-window-top {
  width: 100%;
  height: 2rem;
}

.modal-window-top .close-window {
  transition: all 200ms;
  text-decoration: none;
  color: rgb(139, 139, 139);
}

.modal-window-top .close-window:hover {
  color: #212529;
}

.modal-window-top .fa-2x {
  display: flex;
  justify-content: flex-end;
}

.modal-window-bottom {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 3rem;
}

.modal-window-left {
  width: 50%;
  box-sizing: content-box;
  text-align: end;
}

.modal-window-overlay img {
  margin-left: 2rem;
  height: 100%;
}

.modal-window-right {
  width: 50%;
  display: inline-block;
  margin-left: 2.5rem;
  margin-top: .7rem;
}

.modal-window-right h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.modal-window-right .codigo {
  text-transform: uppercase;
  font-weight: 400;
  color: #444;
  font-size: .8rem;
}

.modal-rating {
  font-size: .6rem;
  margin: 1rem 0 .3rem;
}

.modal-rating span {
  font-size: 1rem;
  color: #444;
  margin-left: .8rem;
}

.modal-price .price {
  font-weight: 800;
  color: #212529;
  font-size: 1.4rem;
}

.modal-price .status {
  font-size: 1rem;
  color: #444;
  margin-left: .8rem;
}

.modal-size {
  margin: 1rem 0;
}

.modal-text {
  width: 80%;
  margin-bottom: 2.5rem;
  margin-top: 2rem
}

.modal-title {
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: .5rem !important;
}

.modal-size a {
  background-color: #000;
  padding: .6rem 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-right: .8rem;
}

.modal-size a:hover {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}

.modal-text h5:nth-child(2) {
  font-weight: 300;
  font-size: 1rem;
}

.addcart {
  background-color: #000;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: .7rem;
  border: none;
}

.addcart:hover {
  background-color: #444;
  color: #fff;
  text-decoration: none;
}

/* BANNER */

.banner {
  height: auto;
  padding: 4rem 10rem;
}

.banner-border {
  border: .3rem solid #212529;
  padding: 4rem 4rem;
  text-align: center;
}

.banner--title {
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  letter-spacing: .3rem;
  display: block;
}

.banner--text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #404040;
  display: block;
  margin: .5rem 0 2rem;
}

.banner--btn a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  background-color: #000;
  font-size: .8rem;
  letter-spacing: .2rem;
  padding: 1rem 1.5rem;
  font-weight: 400;
}

.banner--btn a:hover{
  background-color: #404040;
}

/*  CART   */

.cart {
  min-height: 74.5vh;
  margin: 4rem 4rem 0;
  box-sizing: border-box;
  padding: 3rem;
}

.cart span a {
  color: #404040;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .1rem;
}

.cart h3 {
  font-size: 2rem;
  letter-spacing: .1rem;
  color: #000;
  font-weight: 800;
  padding-top: .8rem;
}

.cart-list {
  margin-top: 2rem;
}

table {
  width: 90%;
  margin: 0 auto;
}

tbody tr {
  background-color: #fff;
  height: 7rem;
}

tr {
  height: 1rem;
  background-color: #e2e2e4;
  text-align: center;
}

th {
  width: 20%;
  padding: .2rem 0;
  font-weight: 400;
}

.cart-list-footer {
  width: 90%;
  margin: 0 auto;
  background-color: #e2e2e4;
  height: .5rem;
}

.cart-bottom {
  width: 90%;
  margin: 1.5rem auto;
}

.cart-bottom-left {
  width: 45%;
  display: inline-block;
}

.cart-bottom h4 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.pay-logos {
  width: 6rem;
}

.pay-logos:nth-of-type(1) {
  width: 8rem;
}

.pay-logos:nth-of-type(2) {
  width: 5rem;
  margin: 0 2rem;
}

.pay-logos:nth-of-type(3) {
  width: 4rem;
  margin-right: 2rem;
}

.cart-bottom-right {
  text-align: right;
  position: absolute;
  width: 42%;
  display: inline-block;
}

.cart-bottom-right h4 {
  margin-bottom: 1.5rem;
}

.cart-bottom-right a{
  color: #fff;
  padding: .7rem 1rem;
  border-radius: .5rem;
  background-color: #000;
  letter-spacing: .1rem;
  font-weight: 500;
}

.cart-bottom-right a:hover {
  background-color: #404040;
}




/* PAYMENT */

.payment {
  height: 74.5vh;
  margin-top: 4rem;
  box-sizing: border-box;
}

.payment-left {
  width: 46%;
  padding-left: 20%;
  padding-top: 4rem;
  display: inline-block;
}

.payment-left form input,
.payment-left form span {
  width: 100%;
}

.payment-left span,
.payment-right span {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 1.5rem;
}

.payment-left input {
  padding: .5rem 1rem;
  margin: .5rem 0;
  font-size: .9rem;
}

.payment-left #state,
.payment-left #mun {
  width: 49%;
  display: inline-block;
}

.payment-left #mun {
  margin-left: .2rem;
}

.payment hr {
  height: 20rem;
  border: .05rem solid #404040;
  display: inline-block;
  margin: auto 0;
  margin-left: 3.7%;
  margin-right: 3.7%;
}

.payment-right {
  width: 46%;
  padding-right: 20%;
  padding-top: 4rem;
  display: inline-block;
  position: absolute;
}

.payment-right img:first-of-type {
  width: 40%;
}

.payment-right img:last-of-type {
  width: 25%;
}

.payment-right #oxxo {
  margin-left: 3rem;
}

.amount {
  margin-top: 1rem;
}

.payment-right h3 {
  color: #727272;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: .5rem;
  width: 42%;
  display: inline-block
}

.payment-right h3:nth-of-type(even) {
  text-align: right;
  font-weight: 400;
}

.payment-right h3:last-of-type {
  color: rgb(134, 0, 7);
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
}

.payment-right a{
  color: #fff;
  padding: .7rem 1rem;
  border-radius: .5rem;
  background-color: #000;
  letter-spacing: .1rem;
  font-weight: 500;
}

.payment-right a:hover {
  background-color: #404040;
}


/* FOOTER */
footer {
  background-color: #000;
  color: #fff;
  height: auto;
  padding: 2rem 4rem;
  bottom: 0;
  width: 100%;
}

.footer-left {
  width: 70%;
  display: inline-block;
  margin-left: 3rem;
}

.footer-left li {
  text-decoration: none;
  display: inline-block;
  margin: 0 2rem;
}

.footer-left li a {
  color: #fff;
  cursor: pointer;
  font-weight: 400;
}

.footer-left li a:hover {
  font-weight: 500;
}

.footer-left span {
  font-weight: 300;
  font-size: 1rem;
  margin-left: 2rem;
}

.footer-right {
  width: auto;
  display: inline-flex;
  top: -1rem;
  position: relative;
}

.footer-right i {
  margin: 0 2rem;
  cursor: pointer;
}

.footer-right i:hover {
  color: #b4b4b4;
  transition: .5s;
}



@media (max-width: 990px)
{
  .navbar-brand {
    margin-left: .5rem;
  }

  .navbar-nav {
    padding-left: .5rem !important;
    margin-right: 0;
  }

  .heading {
    margin-top: 2rem;
  }

  .col-lg-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .products {
    margin-top: 2rem;
  }
}

@media (min-width:768px) and (max-width: 990px)
{
  .productos > div > div:nth-last-child(1) {
    padding-top: 25px;
  }

  .heading-pic {
    width: 50%;
  }

  .heading-primary {
    margin-left: 10%;
    width: 85%;
  }

  .slogan {
    height: auto;
    padding: 3rem 1.5rem;
  }

  .slogan--text {
    font-size: 1.4rem;
  }

  .slogan--text b{
    font-size: 1.4rem;
  }

  .slogan--img {
    width: 95%;
    margin: 0 auto;
  }

  .slogan--img img{
    padding: 1.5rem .5rem;
    box-sizing: border-box;
  }
}

@media (max-width: 767px)
{
  .estilo {
    display: none;
  }

}

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
      display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
      margin-right: initial;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

  .favs .w-100 {
    width: 90% !important;
  }

  .img-fluid {
    max-height: 25rem !important;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 5% !important;
  }

}

@media (min-width:576px) and (max-width:767px)
{
  .mega-area {
    padding: 3rem 3rem !important;
  }

  .productos > div > div:nth-last-child(1),
  .productos > div > div:nth-last-child(2) {
    padding-top: 25px;
  }

  .heading-pic {
    width: 60%;
  }

  .heading-primary span {
    width: 95%;
  }

  .heading-primary {
    margin-left: 10%;
    text-align: right;
    align-self: center;
    padding-bottom: 0;
  }

  .heading-primary--sec {
    line-height: 3rem;
  }

  .slogan {
    height: auto;
    padding: 3rem 1.5rem;
  }

  .slogan--text {
    font-size: 1.2rem;
    letter-spacing: .2rem;
  }

  .slogan--text b{
    font-size: 1.2rem;
  }

  .slogan--img {
    width: auto;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
  }

  .slogan--img img{
    padding: .5rem .5rem;
    box-sizing: border-box;
    width: calc(100% / 2);
  }

  .favs--text {
    font-size: 1.8rem;
    letter-spacing: .4rem;
  }
}

@media (max-width:575px)
{
  .productos > div > div:not(:first-child) {
    padding-top: 25px;
  }

  .heading-pic {
    width: 80%;
  }

  .heading-primary span {
    width: 95%;
  }

  .heading-primary {
    margin-left: 10%;
    text-align: right;
    align-self: center;
    padding-bottom: 0;
  }

  .heading-primary--sec {
    line-height: 3rem;
  }

  .slogan {
    height: auto;
    padding: 3rem 2rem;
  }

  .slogan--text {
    font-size: 1rem;
    letter-spacing: .1rem;
  }

  .slogan--text b{
    font-size: 1rem;
  }

  .slogan--img {
    width: auto;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
  }

  .slogan--img img{
    padding: .5rem .5rem;
    box-sizing: border-box;
    width: calc(100% / 1.8);
  }

  .favs--text {
    font-size: 1.6rem;
  }
}